/.metadata/
hu.sze.aut.robot.description.scene/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robot.description.scene/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl/.antlr-generator-3.2.0-patch.jar
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ide/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ide/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ide/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.launch/Generate SceneDsl (scene) Language Infrastructure.launch
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.launch/Launch Runtime Eclipse.launch
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ide/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ide/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ide/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ide/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ide/src-gen/META-INF/services/org.eclipse.xtext.ISetup
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.target/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.target/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.tests/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.tests/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.tests/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui.tests/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui.tests/.settings/org.eclipse.jdt.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui.tests/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robotlabor.scene.description.scenedsl.parent/hu.sze.aut.robotlabor.scene.description.scenedsl.ui.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ide/src-gen/META-INF/services/org.eclipse.xtext.ISetup
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.target/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.target/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.tests/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.tests/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui/.settings/org.eclipse.xtend.core.Xtend.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui.tests/.settings/org.eclipse.core.resources.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui.tests/.settings/org.eclipse.m2e.core.prefs
hu.sze.aut.robot.kinematic.kinematicdsl.parent/hu.sze.aut.robot.kinematic.kinematicdsl.ui.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
