<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vehiclemodel -->
      <package
            uri="http://aut.sze.hu/vehiclemodel"
            class="hu.sze.aut.robotics.vehicle.model.vehiclemodel.VehiclemodelPackage"
            genModel="model/vehiclemodel.genmodel"/>
   </extension>

</plugin>
